.favorite .not-favorite{
    position: relative;
    width: 100px;
    height: 90px;
}
.favorite:before, .not-favorite:before,
.favorite:after, .not-favorite:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.favorite:after, .not-favorite:before {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

.favorite {
    background: #f00;
}

.not-favorite {
    background: #000000;
}
