div.page-header {
    margin: 0;
    padding: 1.5em 0.5em 1em;
    background: #ffc10e url("../styles/images/intro-background.svg") repeat center;
    background-size: 10em;
    border-bottom: 1px solid #ffc10e;
}

div.page-header small {
   color: #465676;
}

div.nav-tabs {
    border-bottom: none;
}