.list-creator input {
    border-radius: 27px;
    border: solid 1px #757575;
    box-shadow: none;
    margin: 0 auto;
    padding: 0.2em 0.7em;
    font-size: 0.8em;
    width: 50%;
}

.list-creator {
    align-content: center;
    position: fixed;
    bottom: 1%;
    right: 1%;
    background: #465676;
    padding: 1em;
    border-radius: 5em;
}

.list-creator li {
    display: inline-block;
    list-style-type: none;
    border-radius: 27px;
    background-color: #262e3e;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 0.8em;
    box-shadow: none;
    border: solid 1px #262e3e;
    margin: 0 0.4em;
}

.list-creator li:hover {
    background-color: #465676;
    text-decoration: none;
    color: white;
}

.list-creator a {
    color: #fff;
}

.list-creator a:hover, .list-creator a:focus, .list-creator a:visited {
    text-decoration: none;
}

.list-creator .form-field {
    display: inline-block;
    padding: 0;
}

.list-creator .create-budget li {
    display: inline-block;
    padding: 0.2em 0.5em 0.2em 0.7em;
}

.list-creator .create-list li {
    display: inline-block;
    padding: 0.2em 0.7em 0.2em 0.5em;
}

.list-creator .budget-panel {
    width: 95%;
    background-color: #ffc10e;
    border-radius: inherit;
    margin: 0 auto 1em;
    padding: 0.7em 0;
    display: flex;
    justify-content: space-around;
}

.list-creator .budget-panel .sum { flex-grow: 3 }
.list-creator .budget-panel .budget-indicator { flex-grow: 1 }
.list-creator .budget-panel .message { flex-grow: 3 }