.product-item {
    text-align: left;
    min-height: 35vh;
}

.add-button {
    display: inline-block;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border: none;
    font-size: 1.2em;
    padding: 0 8px;
    border-radius: 27px;
}

.add-button > button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
}

.product-item-caption {
    /*margin-bottom: 20%;*/
}

.product-item-price > p > span {
    color: #757575;
    font-size: 0.7em;
}

.product-item-category {
    color: #757575;
    font-size: 0.7em;
}

.product-item-all-buttons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 375px) {
    .product-item-all-buttons {
        display: block;
    }
}
