.nav.nav-tabs {
    background: #ffc10e;
}

.nav.nav-tabs>li>a {
    color: #262e3e;
}

.nav.nav-tabs>li>a:hover, .nav.nav-tabs>li>a:active, .nav.nav-tabs>li>a:focus {
    background-color: #dda20e;
    border: none;
    border-radius: 0;
}

