.navbar-default {
    background: #ffc10e;
    border: none;
    border-radius: 0;
    margin: 0 auto;


}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    text-shadow: none;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 12px;

}

.navbar-default .navbar-brand > div {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-default .navbar-brand .nav-logo {
    background: white url('./../images/icon-blue-janusz.svg') no-repeat left center;
    background-size: 23px;
    background-position-x: 54%;
    background-position-y: 55%;
    box-sizing: border-box;
    border-radius: 50%;
    width: 33px;
    height: 33px;

}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #262e3e;
    text-shadow: none;
    font-weight: bold;
    padding: 20px 15px;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #dda20e;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
}

.navbar-default .navbar-toggle .icon-bar  {
    background-color: white;
}
