.show-favorite-caption {
    text-align: left;
    margin-bottom: 2%;
}

.show-filtered-caption {
    text-align: left;
    margin-top: 4%;
    margin-bottom: 2%;
}

.filters > .row > div > button {
    width: 80%;
    background-color: #ffc10e;
    font-weight: bold;
}
