@import 'manager-navigator/ManagerNavigation.css';
@import 'introduction/Introduction.css';
@import 'all-products/AllProducts.css';
@import 'shopping-lists/ShoppingLists.css';

html, body {
    margin: 0;
    height: 100%;
}

html body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: #262e3e;
}

html body h1 {
    font-size: 2.4em;
}

html body h2 {
    font-size: 2em;
}

html body h3 {
    font-size: 1.8em;
}

html body h4 {
    font-size: 1.6em;
}

html body h5 {
    font-size: 1.4em;
}

html body h6 {
    font-size: 1.2em;
}

html body p {
    margin: 0.2em 0;
}

#root {
    height: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

.background {
    text-align: center;
    height: 100%;
    min-height: 100vh;
    padding: 100px 0 5%;
    background: #f5f5f5;
    margin: 0;
}

.blue-button {
    border-radius: 27px;
    background-color: #262e3e;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 0.8em;
    box-shadow: none;
    border: none;
    display: inline-block;
    margin: 0 0.4em;
}

.blue-button:hover {
    background-color: #465676;
    text-decoration: none;
    color: white;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #ffc10e;
    color: white;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 1em;
    box-shadow: none;
    border: none;
    display: inline-block;
    margin: 0 0.4em;
    border-radius: 27px;
    text-shadow: none;
}

.btn-default {
    background: #e6e6e6;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 1em;
    box-shadow: none;
    border: none;
    display: inline-block;
    margin: 0 0.4em;
    border-radius: 27px;
    color: #262e3e;
    text-shadow: none;
}

.btn-primary:active, .btn-primary.active {
    background-color: #ffc10e;
    color: white;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 1em;
    box-shadow: none;
    border: none;
    display: inline-block;
    margin: 0 0.4em;
    border-radius: 27px;
    text-shadow: none;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background-color: #ffc10e;
    color: white;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 1em;
    box-shadow: none;
    border: none;
    display: inline-block;
    margin: 0 0.4em;
    border-radius: 27px;
    text-shadow: none;
}

.btn-danger {
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: normal;
    padding: 0.2em 0.7em;
    font-size: 1em;
    box-shadow: none;
    border: none;
    display: inline-block;
    margin: 0 0.4em;
    border-radius: 27px;
    text-shadow: none;
    margin-top: 2%;
}

