@import 'shopping-manager/ShoppingManager.css';
@import 'manager-navigator/ManagerNavigation.css';
@import 'introduction/Introduction.css';
@import 'all-products/AllProducts.css';
@import 'shopping-lists/ShoppingLists.css';

html, body {
  margin: 0;
  height: 100%;
}

html body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  color: #262e3e;
}

html body h1 {
  font-size: 2.4em;
}

html body h2 {
  font-size: 2em;
}

html body h3 {
  font-size: 1.8em;
}

html body h4 {
  font-size: 1.6em;
}

html body h5 {
  font-size: 1.4em;
}

html body h6 {
  font-size: 1.2em;
}

html body p {
  margin: 0.2em 0;
}

#root {
  height: 100%;
  background: #fff;
  border: 1px solid #fff;
}

